# =========================
# Eclipse
# =========================
.project
.classpath
.settings/
.metadata/
.recommenders/

# =========================
# Build / Compiled
# =========================
bin/
out/
build/
*.class

# =========================
# IntelliJ (혹시 쓸 수도 있으니까)
# =========================
.idea/
*.iml

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# 기타
# =========================
*.tmp
*.swp